// header{
//     margin-left: 16px;
//     margin-right: 16px;
// }

.header{
    margin-left: 16px;
    margin-right: 16px;
}

.header__name{
    padding: 31px 705px 16px 12px;
}

.header__name p{
    color: #2F7FD5;
    font-size: 28px;
    font-family: 'Roboto';
    font-weight:500;
    
}