.container {
width: 100%;
max-width: 410px;
margin: 0 auto;
background-color: #E9F3FF;
}

@media (min-width: 760px){
    .container{
        max-width: 760px;
    }
}

@media (min-width: 1280px){
    .container{
        max-width: 1280px;
    }
}

@media (min-width: 1920px){
    .container{
        max-width: 1920px;
    }
}